<% if book.favorited?(current_user) %>
    <p>
      <%= link_to book_favorites_path(book),class:" text-danger", method: :delete do %>
        <i class="fa-solid fa-heart"></i><%= book.favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to book_favorites_path(book), method: :post do %>
        <i class="fa-solid fa-heart"></i><%= book.favorites.count %>
      <% end %>
    </p>
  <% end %>