<% book.comments.each do |comment| %>
  <tr>
      <td><%= image_tag comment.user.get_profile_image, size:"100x100" %><br>
        <%= link_to comment.user.name, user_path(comment.user) %>
      </td>

      <td><%= comment.comment %></td>

    <% if comment.user == current_user %>
      <td><%= link_to 'Destroy', book_comment_path(comment.book, comment), method: :delete, remote: true, class: "btn btn-sm btn-danger destroy_book_#{book.id}" %></td>
    <% end %>
  </tr>
<% end %>